@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
}

.payment-main {
    padding: 32px 0px 0px 32px;
    display: flex;
    gap: 32px;
    width: 100%;
}

.main-up {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.nav-con {width: 20%;}

.main-up-sub  {
    display: flex;
    gap: 2px;
    align-items: center;
}

.main-sec {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 40px
}

.main-up-ligh {
    font-size: 12px;
    color: #A3A3A3;
}

.main-up-dark {
    font-size: 12px;
    color: #2E2E2E;
}

.main-up-big  {
    font-size: 20px;
    color: #2E2E2E;
}

.main-rem  {
width: 100%;
display: flex;flex-direction: column; gap: 32px;
background-color: #FCFCFD;
border: 1px solid #E8E8E8;
border-radius: 24px 24px  0px 24px;
padding: 8px 16px 48px 8px;
}

.main-rem-dash {
width: 100%; 
border: 1px solid #EAECF0;
border-radius: 12px;

}

.main-rem-one {
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
   padding: 16px 24px 0px 24px
}

.main-button-sec {
    display: flex;
    gap: 8px;
 }

 .main-button-sec-btn {
    display: flex;
    padding: 8px;
    gap: 8px;
    border: 1px solid #E7E6EA; 
    align-items: center;
    border-radius: 8px;
 }

 .main-rem-heading {
    font-size: 18px;
    font-weight: 500;
    color: #1F1F1F;
 }

 .main-sub-tab-text-ac {
    font-weight: 600;
    font-size: 14px;
    color: #075AAA;
    border-bottom: 1px solid #075AAA;
    padding-bottom: 2px;
 }

 .main-sub-tab-text-inac {
    font-size: 14px;
    color: #5C5C5C;
 }


 .nav-con  {
    display: flex;
    flex-direction: column;
    gap: 140px;
 }

 .main-sub-tab {
    display: flex;
    gap: 24px;
    padding: 0px 24px 
 }

 .fil-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 12px;
    padding: 0px 24px 
 }

 .fil-main {
    display: flex;
    gap: 8px;
 }

 .filter-sec  {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px 6px 8px;
    border: 1px solid #F0F2F4;
    border-radius: 8px;
 }


 .fil-search {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 420px;
 }

 .search-con {
    position: relative;
left: 20px;
    
 } 

 .fil-inp {
    padding: 10px 8px 10px 8px;
    background-color: #FBFBFB;
    border: none;
    width: 100%;
 }

 .payment-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;border-collapse: collapse;
 }

 .payment-table table  {
width: 100%;
border-collapse: collapse;
 }

 th {
    font-size: 12px;
    font-weight: 500;
     padding: 12px 24px ;
    text-align: left;border-bottom: 1px solid #ddd;
 }
 td{
    font-size: 14px; padding: 16px 24px ;border-bottom: 1px solid #ddd;
 }
 .table-head {
    background-color: #F9FAFB;
   
 }

 .status {
    padding: 4px 10px;
    border-radius: 12px;
  }
  
  .status.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .status.error {
    background-color: #f8d7da;
    color: #721c24;
  }

  .ac-icons {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px
  }

  .span-spec {
   width: 40px;
   height: 40px;
   background-color: #F1F6FE;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   
  }
.pag-fig {
    display: flex;
    align-items: center;
}
  .span {
    width: 40px;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
   }
  
  .prev-btn, .next-btn {
    display: flex;
    gap: 4px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 8px
  }

  .purchase {
    color: #075AAA;
    font-size: 12px;
  }

  .in-svg {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    height: 36px;
    width: 36px;
    padding: 8px;
  }

  .pos {
    border-radius: 4px;
    background-color: #9ce0b8;
    height: 26px;
    width: 54px;
    padding: 4px;
    display: flex;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #14AE5C;
    align-items: center;
    justify-content: center;
  }

  .neg {
    border-radius: 4px;
    background-color: #f4aeae;
    height: 26px;
    width: 54px;
    padding: 4px;
    display: flex;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #EB5757;
    align-items: center;
    justify-content: center;
  }


  .inv-card-con {
    border-radius: 8px;
   border: 1px solid #E8E8E8;
   width: 25%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card-ra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .card-one {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .card-bg {
    font-size: 28px;
    font-weight: 500;
    color: #2E2E2E;
  }

  
  .card-sm {
    font-size: 12px;
    font-weight: 500;
    color: #3D3D3D;
  }
  
  .inves-dash {
   display: flex;
   gap: 16px;
   align-items: center;
  }